.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	min-height: 100vh;
}

.sectionContainer {
	display: 'flex';
	overflow-x: 'auto';
}

.eventContainer {
	border: '1px solid black';
	border-radius: '5px';
	padding: '0.5rem';
	margin-right: '1rem';
	height: 'auto';
	min-width: '200px';
	min-height: '300px';
	display: 'flex';
	flex-direction: 'column';
}
